<!DOCTYPE html>
<html>
<head>
  <title>CookBooksr.us</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/header' %>
	<%= render 'shared/navigation' %>
<div id="main">	
	<div class="container">
	<%= yield %>
	</div>
</div>
<footer>
	<small>cookbooksr.us</small>
</footer>
</body>
</html>
