<h1>New Article</h1>
<%= form_for :article, url: articles_path do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title, placeholder: "Post Title!" %>
	</p>
	<p>
		<%= f.label :text %>
		<%= f.text_area :text, placeholder: "Write your post here!" %>
	</p>
	<p>
		<%= f.submit :Submit!  %>
	</p>
<% end %>