<h2><%= @recipe.name %></h2>

<% if @recipe.book %>
	<h3>In Cookbook: <%= @recipe.book.title %></h3>
<% end %>	

<p><%= image_tag @recipe.image %></p>
<p>Course: <%= @recipe.course %></p>
<p>Cook Time: <%= @recipe.cooktime %></p>
<p>Serving Size: <%= @recipe.servingsize %></p>

<p>
	Ingredients: 
	<ul>
		<% @recipe.ingredients.each do |ingredient| %>
		<li>
			<%= ingredient.name %>
		</li>	
		<% end %>
	</ul>	
</p>
<p>
	Instructions: <%= @recipe.instructions %>
</p>

<p class="button">
	<%= link_to "Edit", edit_recipe_path(@recipe) %>
</p>
<p class="button">
	<%= link_to "Destory", @recipe, method: :destroy %>
</p>
