<p>Song Name: <%= @song.name %></p>
<p>Genre: <%= @song.genre %></p>
<p>Year: <%= @song.year %></p>
<p>Artist: <%= @song.artist.name %></p>

<% if user_signed_in? %>	
<button>
	<%= link_to 'Edit', edit_song_path(@song) %>
</button>
<button>
	<%= link_to 'Destroy', @song, method: :delete %>
</button>	
<% end %>

<%= link_to 'Back to Songs Lists', songs_path %>


