<h1>Todo Items</h1>

<div id="#container">
<section>
<h3>Todo:</h3>
<% @todos.each do |t| %>
	<p>
		<%= t.name %>
		<%= link_to "Mark as Done!", todo_path(t), method: :put %>
	</p>
<% end %>
</section>

<section>
<h3>Todone:</h3>	
<% @todone.each do |t| %>
	<p>
		<%= t.name %>
		<%= link_to "Remove!", t, confirm: "Are you sure?", method: :delete %>
	</p>
<% end %>	
</section>

<p><%= link_to "Add an Item to the List!", new_todo_path %></p>
</div>